# ============================================================================ #
#                                                                              #
# ---------                  javascript.snippets                       ------- #
#                                                                          1.0 #
# ============================================================================ #

snippet log
console.log(${1:'${2}'});${0}
endsnippet
